# Classificadores Naive Bayses
----
#### Classificadores Naive Bayses é um metodos de machine learning que pode ser usado para predizer a chance de um evento ocorrer, baseado nas evidencias presentes em seus dados   (conhecido na estatistica como: Probabilidade condicional)

----
## 1 - tipos de modelos Naive bayses 

* ### Multinominal: otimo para quando as variaveis sao categoricas ou continuas. Descrevem suas frenquencias discreta 
* ### Bernoulli: para variaveias binarias 
* ### Gaussiano: otimo para fazer prediçoes com variaveis com distribuição normal

## 2 - Pressupostos

* ### As variaveis preditoras são independentes 
* ### Que os eventos a serem preditos seguem as mesmas condicões do passado (EX: se tivermos com dados historicos minha precisao pode ser ruim caso as condições tenham mudado)

In [10]:
import numpy as np 
import pandas as pd

from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

df = pd.read_csv('dados/spambase.data')
df.shape

(4600, 58)

In [12]:
df.head()

,0,0.64,0.64.1,0.1,0.32,0.2,0.3,0.4,0.5,0.6,...,0.40,0.41,0.42,0.778,0.43,0.44,3.756,61,278,1
0,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
1,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
2,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,1.85,0.00,0.00,1.85,0.00,0.00,...,0.00,0.223,0.0,0.000,0.000,0.000,3.000,15,54,1

In [16]:
# Separando os dados da coluna 0 ate a 48
x = df.iloc[:, :48]
x

,0,0.64,0.64.1,0.1,0.32,0.2,0.3,0.4,0.5,0.6,...,0.30,0.31,0.32.2,0.33,0.34,0.35,0.36,0.37,0.38,0.39
0,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.0,0.00,0.0,0.0,0.00,0.00,0.00,0.00,0.0,0.0
1,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.0,0.06,0.0,0.0,0.12,0.00,0.06,0.06,0.0,0.0
2,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.0,0.00,0.0,0.0,0.00,0.00,0.00,0.00,0.0,0.0
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.0,0.00,0.0,0.0,0.00,0.00,0.00,0.00,0.0,0.0
4,0.00,0.00,0.00,0.0,1.85,0.00,0.00,1.85,0.00,0.00,...,0.0,0.00,0.0,0.0,0.00,0.00,0.00,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.0,0.00,0.0,0.0,0.00,0.31,0.31,0.31,0.0,0.0
4596,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.00,0.0,0.0,0.00,0.00,0.00,2.00,0.0,0.0
4597,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.00,0.0,0.0,0.00,0.00,0.00,1.20,0.0,0.0
4598,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.0,0.00,0.0,0.0,0.00,0.32,0.00,0.32,0.0,0.0
4599,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.00,0.0,0.0,0.00,0.00,1.97,0.65,0.0,0.0

In [19]:
# Pegando a variavbel target
y = df.iloc[:, -1]
y

0       1
1       1
2       1
3       1
4       1
       ..
4595    0
4596    0
4597    0
4598    0
4599    0
Name: 1, Length: 4600, dtype: int64

In [47]:
x_train, x_teste, y_train, y_teste = train_test_split(x, y, test_size=0.1, random_state=17)

In [48]:
# modelo gaussiano 
gaus = GaussianNB()
gaus.fit(x_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [49]:
y_preditor = gaus.predict(x_teste)
print(y_preditor)

[1 1 1 0 0 0 1 1 1 1 1 1 0 0 1 1 0 0 1 0 0 1 1 1 0 0 0 1 0 1 0 0 0 1 1 1 1
 0 1 1 1 1 0 0 0 1 1 1 0 1 0 0 1 0 0 1 1 0 1 1 0 1 0 0 0 0 1 0 0 1 0 0 1 1
 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 0 1 1 1 1 0 0 1 0 1 0 0 0
 1 0 0 1 0 1 1 1 0 1 0 0 1 1 1 0 1 1 1 1 1 0 0 1 0 0 1 0 1 1 0 1 1 0 1 0 1
 1 1 0 0 1 0 1 1 1 0 1 0 0 1 0 1 0 1 0 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1
 0 0 1 1 1 0 1 0 0 0 0 0 1 1 1 0 0 1 1 1 0 1 1 1 0 1 0 1 1 0 1 1 1 0 1 1 0
 1 1 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 0 1 0 1 0 1 0 0 1 1 1 1 0 0 1 1 0 0
 1 1 1 1 1 1 1 1 0 0 1 0 1 1 1 1 1 1 0 1 1 0 0 1 1 0 0 0 1 0 0 0 1 0 0 0 1
 0 0 0 0 0 0 0 1 1 0 1 0 1 0 1 1 1 0 1 1 1 0 1 1 1 0 0 1 0 1 1 1 1 1 1 1 1
 0 1 0 1 0 1 1 0 1 0 1 1 1 1 1 1 0 1 1 0 1 1 1 0 1 0 1 0 1 0 1 1 0 0 0 1 0
 1 1 0 0 1 0 1 1 0 1 1 0 1 1 0 1 1 1 1 1 0 0 1 1 0 0 1 0 0 0 1 1 1 0 1 1 0
 0 0 1 0 0 1 0 0 0 1 1 0 1 1 1 0 0 1 1 0 1 1 1 1 0 0 0 1 0 0 1 1 0 0 0 0 1
 0 0 0 1 0 0 1 1 1 1 1 1 0 1 0 0]

In [50]:
print(accuracy_score(y_teste, y_preditor))

0.8108695652173913

In [93]:
x_train, x_teste, y_train, y_teste = train_test_split(x, y, test_size=.3, random_state=17)

In [94]:
# modelo Multinominal

mult = MultinomialNB()
mult.fit(x_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [95]:
y_preditor = mult.predict(x_teste)

In [96]:
print(accuracy_score(y_teste, y_preditor))

0.8673913043478261

In [105]:
x_train, x_teste, y_train, y_teste = train_test_split(x, y, test_size=.3, random_state=17)

In [106]:
# modelo Bernouli
bern = BernoulliNB(binarize=True)
bern.fit(x_train, y_train)

BernoulliNB(alpha=1.0, binarize=True, class_prior=None, fit_prior=True)

In [107]:
y_preditor = bern.predict(x_teste)

In [108]:
print(accuracy_score(y_teste, y_preditor))

0.8557971014492753

#### Mudando parametros para ver a diferença

In [124]:
bern = BernoulliNB(binarize=0.1)
bern.fit(x_train, y_train)

BernoulliNB(alpha=1.0, binarize=0.1, class_prior=None, fit_prior=True)

In [125]:
y_preditor = bern.predict(x_teste)

In [126]:
print(accuracy_score(y_teste, y_preditor))

# melhorei o resultado mudando um paranmetro

0.886231884057971