# Primeira aula do curso

In [138]:
import pandas as pd 
import numpy as np

## criando um dados com um array

In [139]:
dados = np.arange(10)
dados

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

### reorganizando as linhas e colunas

In [140]:
dados.reshape(2,5)

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

### Selecionando valores do meu array

In [141]:
intens = ['linhas0', 'linhas1','linhas2','linhas3','linhas4',
          'linhas5','linhas6','linhas7','linhas8','linhas9',]
serie = pd.Series(dados, index=intens)
serie

linhas0    0
linhas1    1
linhas2    2
linhas3    3
linhas4    4
linhas5    5
linhas6    6
linhas7    7
linhas8    8
linhas9    9
dtype: int32

In [142]:
serie['linhas3']

3

### Criando um data frame de numeros aleatorios na mao

In [143]:
np.random.seed(25)
indice = ['0', '1', '2', '3', '4', '5',]
colunas = ['linhas0', 'linhas1','linhas2','linhas3','linhas4',
          'linhas5',]
dataframe = pd.DataFrame(np.random.rand(36).reshape(6,6), 
                      index=indice,
                      columns=colunas)
dataframe

    linhas0   linhas1   linhas2   linhas3   linhas4   linhas5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
2  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
3  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
4  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
5  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

### Selecionando dados com loc e iloc

In [144]:
dataframe.loc[['1', '2', '5'], ['linhas0', 'linhas5']]

    linhas0   linhas5
1  0.684969  0.113041
2  0.447031  0.699186
5  0.281701  0.525819

In [145]:
dataframe.iloc[3:, 2]

3    0.481343
4    0.034450
5    0.669612
Name: linhas2, dtype: float64

In [146]:
itens = ['linhas0', 'linhas1','linhas2','linhas3','linhas4',
          'linhas5','linhas6','linhas7']
serie_objs = pd.Series(np.arange(8), index=itens)

### Filtrando valores de um data frame -> Ex: quero apenas os valores maior q 6 do meu Data Frame

In [147]:
filtro = serie_objs > 6
serie_objs[filtro]

linhas7    7
dtype: int32

# Tratando valores faltando NaN

In [148]:
em_branco = np.nan
serie = pd.Series(['linhas0', em_branco,'linhas2','linhas3',em_branco,
          'linhas5','linhas6',em_branco])
serie

0    linhas0
1        NaN
2    linhas2
3    linhas3
4        NaN
5    linhas5
6    linhas6
7        NaN
dtype: object

# Indentificando valores em branco

In [149]:
serie.isnull()

0    False
1     True
2    False
3    False
4     True
5    False
6    False
7     True
dtype: bool

In [150]:
np.random.seed(25)
df = pd.DataFrame(np.random.rand(36).reshape((6,6)))
df.iloc[3:5, 0] = em_branco
df.iloc[1:4, 5] = em_branco
df

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366       NaN
2  0.447031  0.585445  0.161985  0.520719  0.326051       NaN
3       NaN  0.836375  0.481343  0.516502  0.383048       NaN
4       NaN  0.559053  0.034450  0.719930  0.421004  0.436935
5  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

# preenchendo valores em branco NaN

In [151]:
# metodo fillna() esse metodo retorna um novo Data Frame por isso coloque ele detro de outra variavel
dfpree = df.fillna(2)
dfpree

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  2.000000
2  0.447031  0.585445  0.161985  0.520719  0.326051  2.000000
3  2.000000  0.836375  0.481343  0.516502  0.383048  2.000000
4  2.000000  0.559053  0.034450  0.719930  0.421004  0.436935
5  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [152]:
 df.isnull().sum()

0    2
1    0
2    0
3    0
4    0
5    3
dtype: int64

# Preenchendo colunas com NaN com um dicionario

In [164]:
dici = {0: 0.570, 5: 0.360}
dfpree = df.fillna(dici)
dfpree

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  0.360000
2  0.447031  0.585445  0.161985  0.520719  0.326051  0.360000
3  0.570000  0.836375  0.481343  0.516502  0.383048  0.360000
4  0.570000  0.559053  0.034450  0.719930  0.421004  0.436935
5  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [166]:
print(df[0].mean())
print(df[5].mean())

0.5709561202644542
0.36004321196389544

# Excluindo valores em branco do DataFrame

In [171]:
df_exclui = df.copy()
df_exclui

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366       NaN
2  0.447031  0.585445  0.161985  0.520719  0.326051       NaN
3       NaN  0.836375  0.481343  0.516502  0.383048       NaN
4       NaN  0.559053  0.034450  0.719930  0.421004  0.436935
5  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [172]:
df_exclui.dropna()
#Dessa forma o metodos exclui todas as linhas que tinha um NaN

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
5  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [173]:
df_exclui.dropna(axis=1)
#Dessa forma ele exclui apenas os valores faltantes de cada coluna

          1         2         3         4
0  0.582277  0.278839  0.185911  0.411100
1  0.437611  0.556229  0.367080  0.402366
2  0.585445  0.161985  0.520719  0.326051
3  0.836375  0.481343  0.516502  0.383048
4  0.559053  0.034450  0.719930  0.421004
5  0.900274  0.669612  0.456069  0.289804